@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

hr {
  width: 100%;
  border: 1px solid white;
}

:root {
  --color-principal: #d7c9b1;
  --color-secundario: #f9f6f1;
  --color-terciario: #06090e;
  --color-resaltador: #d4af37;
}

header {
  z-index: 9999;
  font-family: "Nunito", sans-serif;
  width: 100%;
  padding: 0 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-terciario);
}

.display-none {
  display: none !important;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.flex--col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__nav {
}

.nav__lista {
  display: flex;
  width: fit-content;
  gap: 20px;
  align-items: center;
}

.nav__lista--none {
  height: fit-content;
  position: fixed;
  right: 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-terciario);
}

.header__logo {
  width: 5%;
}

.nav__link {
  color: white;
  transition: 0.3s ease all;
}

.nav__link:hover {
  color: var(--color-resaltador);
}

footer {
  background-color: var(--color-terciario);
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__content {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.footer__subtitle {
  color: white;
}

.footer__text {
  color: gainsboro;
}

.footer__logo {
  width: 60%;
}

.footer__img {
  width: 100%;
  transition: 0.3s ease all;
}

.footer__img:hover {
  scale: 1.1;
}

.footer__img--content {
  width: 40%;
  display: flex;
  justify-content: center;
}

/* Pagina Principal */

.principal--bg {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url(../media/backgrounds/bg-principal.webp);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 2rem;
}

.principal__content {
}

.principal__title {
  width: 35%;
  font-size: 6rem;
  font-family: "Old Standard TT", serif;
  font-weight: lighter;
  color: white;
}

.principal__link {
  color: black;
  padding: 1.2rem 2.5rem;
  border-radius: 5px;
  background-color: #e1ff00;
  transition: 0.3s background ease;
}

.principal__link:hover {
  background-color: var(--color-resaltador);
}

.information {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.information--r {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.information__hotel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.information__logo {
  width: 15%;
}

.information__text {
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  margin-top: 15px;
}

.hr--gold {
  height: 1px;
  border: none;
  width: 50%;
  background-color: var(--color-resaltador);
}

.information__rooms--text {
  width: 40%;
  border: 1px solid black;
}

.information__img {
  width: 50%;
}
